@tailwind base;
@tailwind components;
@tailwind utilities;
.clearfix:before,.clearfix:after {
    content :"";
    display:table;/*转换成表格*/
 }
.clearfix:after {
    clear:both;
}
.text-over {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
}
.w-e-scroll {
    overflow-y: hidden!important;
}